@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-display: swap;
  font-family: "Proxima-Nova";
  src: url(../app/fonts/Proxima-Nova-Thin.otf);
  font-weight: 400
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Proxima-Nova", sans-serif !important;
}
